@import "../../colors";

.show-qr-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $primary;
  text-align: center;
  justify-content: center;
  padding-bottom: 10vh;

  h2 {
    margin: 0 0 2.5rem;
  }

  .qr-container {
    display: flex;
    align-self: center;
    canvas {
      width: 80vw !important;
      height: 80vw !important;
    }
  }
}

@media only screen and (orientation: landscape) {
  .show-qr-container {
    .qr-container {
      canvas {
        width: 40vh !important;
        height: 40vh !important;
      }
    }
  }
}
