@import "../../colors";

.app-add-button {
  button {
    color: $primary-contrast;
    background-color: $primary;
    &.sm-button {
      position: fixed !important;
      bottom: 72px;
      right: 5vw;
    }
  }
  button:hover {
    color: $primary-contrast;
    background-color: $primary;
  }
}
