@import "../../styles/colors";

.app-add-button {
  text-decoration: none;
  button {
    color: $primary-contrast;
    background-color: $primary;
    &.sm-button {
      position: fixed !important;
      bottom: 72px;
      bottom: calc(env(safe-area-inset-bottom, 0) + 72px);
      right: 5vw;
    }
  }
  button:hover {
    color: $primary-contrast;
    background-color: $primary;
  }
}
