@import "../../styles/colors";

.alert {
  margin-bottom: 1rem;
  padding: 0 1rem;
  &.primary {
    :global(.MuiSnackbarContent-root) {
      background-color: $primary;
    }
  }
  &.success {
    :global(.MuiSnackbarContent-root) {
      background-color: $success;
    }
  }
  &.error {
    :global(.MuiSnackbarContent-root) {
      background-color: $danger;
    }
  }
}
