@import "../../styles/colors";

.snackbar-alert {
  margin-bottom: 1rem;
  padding: 0 1rem;
  &.alert-primary {
    .MuiSnackbarContent-root {
      background-color: $primary;
    }
  }
  &.alert-success {
    .MuiSnackbarContent-root {
      background-color: $success;
    }
  }
  &.alert-error {
    .MuiSnackbarContent-root {
      background-color: $danger;
    }
  }
}
