@import "../../styles/colors";

.navbar {
  :global(.MuiBottomNavigation-root) {
    border-top: solid 1px $border;
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
    :global(.MuiButtonBase-root) {
      color: $gray;
      &:global(.Mui-selected) {
        color: $primary;
      }
    }
  }

  button {
    background-color: $white;
    color: $gray;
  }
  button:hover {
    background-color: $white;
    color: $gray;
  }
}
