@import "../../colors";

.app-bottom-navbar {
  .MuiBottomNavigation-root {
    padding-bottom: env(safe-area-inset-bottom, 0) !important;
    border-top: solid 1px $border;
    .MuiButtonBase-root {
      color: $gray;
      &.Mui-selected {
        color: $primary;
      }
    }
  }

  button {
    background-color: $white;
    color: $gray;
  }
  button:hover {
    background-color: $white;
    color: $gray;
  }
}
