@import '../../colors';

.account-container {
  display: flex;
  border-bottom: solid 1px $border;
  .card {
    flex: 1;
    .logo-icon {
      width: 4rem;
      color: $primary;
    }
  }
  .deleteButton {
    width: 4rem;
    color: $danger;
  }
}