@import "../../styles/colors";

.container {
  margin: 1rem 0;

  :global(.MuiFormControl-root) {
    display: flex;
    flex: 1;
    color: $dark-gray;

    &.fullWidthInput {
      :global(.MuiFormControlLabel-root) {
        margin-left: 0;
        :global(.MuiFormControlLabel-label) {
          width: 100%;
          svg {
            width: 4rem;
          }
        }
      }
    }

    .selectedCheckbox {
      color: $primary;
    }

    :global(.MuiCheckbox-colorSecondary.Mui-checked) {
      color: $primary;
    }
  }
}
