@import "../../styles/colors";

.app-send-to-email {
  margin-bottom: 2rem;
  .input-slot {
    flex: 1;
    .MuiFormControl-root {
      width: 100%;
    }
  }
  button.MuiButton-contained {
    background-color: $primary;
    color: $primary-contrast !important;
    &.Mui-disabled {
      background-color: $disabled;
      color: $light-gray !important;
    }
  }
  button.MuiButton-contained:hover {
    background-color: $primary;
    color: $primary-contrast;
  }
}
