@import "../../colors";

.show-qr-container {
  color: $primary;
  text-align: center;
  justify-content: center;
  padding: 2rem 1.8rem;

  h2 {
    margin: 0 0 2rem;
    svg {
      padding-right: 0.6rem;
    }
  }

  .qr-container {
    canvas {
      width: 100% !important;
      height: 100% !important;
      max-width: 350px;
      max-height: 350px;
    }
  }
}
