@import "../../colors";

.show-qr-container {
  position: absolute;
  width: 60%;
  max-width: 400px;
  background-color: $white;
  padding: 1.4rem 2rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: $primary;
  text-align: center;
  justify-content: center;
  padding: 2rem 1.8rem;

  h2 {
    margin: 0 0 2rem;
    svg {
      padding-right: 0.6rem;
    }
  }

  .qr-container {
    canvas {
      width: 100% !important;
      height: 100% !important;
      max-width: 350px;
      max-height: 350px;
    }
  }
}
