@import "./colors";
html,
body,
#root,
.App {
  min-height: calc(100% + env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;

  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: start;
    overflow-y: scroll;
    padding: 0 5vw;
  }

  .color-primary {
    color: $primary;
  }
  .color-danger {
    color: $danger;
  }
  .color-dark {
    color: $black;
  }

  .full-width {
    width: 100%;
  }

  .align-self-center {
    align-self: center;
  }
  .align-self-end {
    align-self: flex-end;
  }
}
