@import "./colors";

html {
  padding-top: 0;
  padding-top: env(safe-area-inset-top, 0);
}

html,
body,
#root,
.App {
  height: 100%;
  background-color: $white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;

  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: start;
    overflow-y: scroll;
    padding: 0 5vw;
  }

  .color-primary {
    color: $primary;
  }
  .color-danger {
    color: $danger;
  }
  .color-dark {
    color: $black;
  }

  .full-height {
    height: 100%;
  }
  .full-width {
    width: 100%;
  }

  .align-self-center {
    align-self: center;
  }
  .align-self-end {
    align-self: flex-end;
  }
}

// Mobile Orientation Lock
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;

    // ios download popover
    .MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
      top: 70% !important;
      left: 8% !important;
    }
  }
}
