.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.main-container {
  flex: 1;  
  overflow-y: scroll;
}
.bottom-nav {
  border-top: solid 1px #dee2e6;
}
.add-button {
  position: fixed !important;
  bottom: 72px;
  right: 10%;
}
.full-width {
  width: 100%;
}